.container{
  color:white;
  font-size:14px;
  width:100dvw;
  height:100dvh;
  display:flex;
  align-items: center;
  justify-content: center;
}

button.select{
 width:200px;   
 height:40px;
 font-size:16px;
 border:1px solid #fff;
 background: transparent;
 color:#fff;
 cursor: pointer;
}